[*.cs]

# S1450: Private fields only used as local variables in methods should become local variables
dotnet_diagnostic.S1450.severity = none

# IDE0065: 错放了 using 指令
csharp_using_directive_placement = outside_namespace
